@model String
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

We are on the index page!<br />

@using(Html.BeginForm("Text", "Home")){
    if (!string.IsNullOrEmpty(@Model)) { 
        <div style="color:red">@Model</div>
    }
    <div>
        Type some text: @Html.TextBox("text")<br />
        <input type="submit" value="Show the text" />
    </div>
}